@import "../style.scss";

.detail_card {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.detail_container {
  @include flexbox($fd: column, $jc: unset, $ai: unset, $g: 0.5rem);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 90vh;
  padding: 1rem;
  border-radius: 1.5rem;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(29, 29, 29);
  transform: translate(-50%, -50%);

  .close {
    margin-right: 1rem;
    margin-left: auto;
    font-family: var(--mainFont);
    font-size: 2.5rem;
    color: var(--backgroundColor);
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);

    &:hover {
      cursor: pointer;
    }
  }

  .detail_info_container {
    @include flexbox($jc: space-between, $fd: column);

    .detail_head {
      @include flexbox($fd: column);
      margin-bottom: 1rem;
      width: 100%;

      .detail_name {
        font: bold 2.5rem var(--mainFont);
        color: var(--backgroundColor);
        text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);
      }

      .detail_id {
        @mixin pseudo($display: block, $pos: absolute, $content: "") {
          content: $content;
          display: $display;
          position: $pos;
        }
        font: bold 1.5rem var(--mainFont);
        color: var(--backgroundColor);
        letter-spacing: 0.5px;
        text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);
      }
    }

    .type_container {
      @include flexbox($g: 1rem);
      margin-right: auto;
      width: 100%;

      .detail_type {
        @include flexbox($fd: column);
        border: solid 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 4px;
        width: 80px;
        box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
        text-align: center;
        font: bold 1rem var(--mainFont);
        color: var(--backgroundColor);
      }

      .shiny_btn {
        width: 3rem;
        margin-left: auto;
        transition: transform 200ms ease-in-out 100ms;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}

.img_container {
  @include flexbox($jc: space-between);
  background: url(/assets/img/bg_1.png);
  @include coverBackground($s: 150%);

  .detail_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    transform: translateY(2.5rem);
    transition: transform 200ms ease-in-out 100ms;
  }

  :first-child {
    @include curserPointer;
    font: bold 3.5rem var(--mainFont);
    color: var(--backgroundColor);
    text-shadow: -1.5px 1.5px rgba(0, 0, 0, 0.8);
  }

  :nth-child(4) {
    @include curserPointer;
    font: bold 3.5rem var(--mainFont);
    color: var(--backgroundColor);
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);
  }
}

.statsContainer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-top: 32px;
}
