@import "../style.scss";

#detailCard {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
  
    .card_container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      height: 90vh;
      background-color: var(--backgroundColor);
      border-top: 2px solid rgb(255, 255, 255);
      border-bottom: 3px solid rgb(29, 29, 29);
      border-radius: 25px;
      padding: 16px;
      padding-bottom: 40px;
  
      img {
        width: 120px;
        height: 120px;
        transition: transform 200ms ease-in-out 100ms;
  
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  