@import "../style.scss";

.loader {
  @include flexbox($fd: column, $g: 2rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  img {
    @include box(250px);
    animation: rotate 2s linear infinite;
  }

  > div {
    @include flexbox($g: 3rem);

    > span {
      color: var(--backgroundColor);
      font-size: 1.5rem;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.dot-flashing {
  @include box(15px);
  position: relative;
  border-radius: 50px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  @include box(15px);
  left: -25px;
  border-radius: 50px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  @include box(15px);
  left: 25px;
  border-radius: 50px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@media only screen and (max-width: 500px) {
  .loader {
    img {
      @include box(200px);
    }
  }
}
