:root {
  --mainFont: system-ui, sans-serif;
  --backgroundColor: #f5f5f5;
  --lightgray: #d3d3d3;
  --mainColor: #e63b3b;
  --buttonColor: #1a9ba1;
  --buttonColorHover: #37c6d0;
  --buttonFontColor: #141d2e;
}

@mixin flexbox($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin coverBackground($s: cover, $p: center) {
  background-repeat: no-repeat;
  background-size: $s;
  background-position: $p;
}

@mixin randomBorder($width: 2px) {
  $red: random(255);
  $green: random(255);
  $blue: random(255);
  border: $width dashed rgb($red, $green, $blue);
}

@mixin curserPointer {
  &:hover {
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: var(--buttonColor) var(--backgroundColor);
  scrollbar-gutter: stable;
}

body {
  font-family: var(--mainFont);
  background-color: var(--backgroundColor);
}

.d_none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

hr {
  background-color: var(--backgroundColor);
}

.main {
  @include flexbox($fd: column, $g: 1rem);
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;

  .arrow_down_container {
    @include flexbox($jc: flex-end);
    width: 100%;

    img {
      margin-left: 2rem;
      rotate: 180deg;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dex_btn_container {
  /*   @include randomBorder; */
    display: flex;
   /*  flex-direction: column; */

    .dex_buttons {
      @include curserPointer;
      @include box(7rem, 2rem);
      padding: 0.3rem;
      margin: auto 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
      font-weight: 600;
      background-color: var(--mainColor);
      color: var(--backgroundColor);
    }
  }

  .load_btn_container {
    @include flexbox;

    .load_btn {
      padding: 1rem;
      border: unset;
      background-color: var(--buttonColor);
      color: var(--backgroundColor);
      font: bold 1.5rem var(--mainFont);
      border-radius: 10px;
      box-shadow: 10px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: pointer;
        background-color: var(--buttonColorHover);
        scale: 1.1;
      }
    }
  }

  .arrow_up_container {
    @include flexbox($jc: flex-end);
    width: 100%;

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
