@import "../../../style.scss";

.header {
  @include flexbox($jc: space-between);
  @include box(100%, auto);
  padding: 1rem;
  background-color: var(--mainColor);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 5);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.4);

  > img {
    height: 4rem;
  }

  form {
    position: relative;
    @include flexbox;
    margin-top: 20px;
    margin-right: 1rem;

    .search_container {
      @include flexbox;
      height: 2rem;
      padding: 0 1rem;
      border: 1px solid var(--backgroundColor);
      border-radius: 10px 0 0 10px;

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 50000s;
        -webkit-text-fill-color: var(--backgroundColor) !important;
      }
      
      input {
        height: 1.5rem;
        outline: none;
        border: none;
        color: var(--backgroundColor);
        background-color: transparent;

        &:focus::placeholder {
          color: transparent;
        }

        &::placeholder {
          font-family: var(--mainFont);
          color: var(--backgroundColor);
        }
      }

      #clearBtn {
        font-size: 1rem;
        color: var(--backgroundColor);
        outline: none;
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }
    }

    div:nth-child(2) {
      @include flexbox;
      height: 2rem;
      padding: 0 0.4rem;
      border: 1px solid var(--backgroundColor);
      border-radius: 0 10px 10px 0;

      #searchBtn {
        @include flexbox;
        outline: none;
        border: none;
        background-color: transparent;

        img {
          width: 1.3rem;
        }

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }
  }
}

#suggestions {
  position: absolute;
  z-index: 100;
  width: 16rem;
  height: 10rem;
  margin-top: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
  scrollbar-width: thin;
  overflow-y: scroll;
}

/********** MEDIAQUERY ***********/

@media (max-width: 500px) {
  .header {
    flex-direction: column;

    form {
      margin-right: 0;
    }
  }
}
