<header class="header">
  <img class="logo_img" src="./assets/img/Pokédex_logo.png" alt="App Logo" />

  <div>
    <form action="" onsubmit="search(); return false">
      <div class="search_container">
        <input type="text" id="search" placeholder="Search" />
        <button type="button" id="clearBtn" onclick="clearSearch()">
          &#x0058;
        </button>
      </div>

      <div>
        <button id="searchBtn"><img src="assets/img/icons8-suche-50.png" alt=""></button>
      </div>
    </form>

    <div id="suggestions" class="d_none"></div>
  </div>
</header>
