:root {
  --mainFont: system-ui, sans-serif;
  --backgroundColor: #f5f5f5;
  --lightgray: #d3d3d3;
  --mainColor: #e63b3b;
  --buttonColor: #1a9ba1;
  --buttonColorHover: #37c6d0;
  --buttonFontColor: #141d2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: var(--buttonColor) var(--backgroundColor);
}

body {
  font-family: var(--mainFont);
  background-color: var(--backgroundColor);
}

.d_none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

hr {
  background-color: var(--backgroundColor);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
}
main .arrow_down_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  width: 100%;
}
main .arrow_down_container img {
  margin-left: 2rem;
  rotate: 180deg;
}
main .arrow_down_container img:hover {
  cursor: pointer;
}
main .btn_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
main .btn_container .load_btn {
  padding: 1rem;
  border: unset;
  background-color: var(--buttonColor);
  color: var(--backgroundColor);
  font: bold 1.5rem var(--mainFont);
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}
main .btn_container .load_btn:hover {
  cursor: pointer;
  background-color: var(--buttonColorHover);
  scale: 1.1;
}
main .arrow_up_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  width: 100%;
}
main .arrow_up_container img:hover {
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  /*  display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: 333333;
  z-index: 1000;
}
.loader img {
  animation: rotate 2s linear infinite;
  width: 200px;
  height: 200px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 80px;
  padding: 1rem;
  background-color: var(--mainColor);
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.5);
}
.footer span:first-child {
  font-family: var(--mainFont);
  color: var(--backgroundColor);
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.footer span:first-child:hover {
  cursor: pointer;
}
.footer span:nth-child(2) {
  font-family: var(--mainFont);
  color: var(--backgroundColor);
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.footer div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer div:nth-child(3) .imprint {
  width: 100%;
  height: 90vh;
  margin-inline: 1rem;
  padding: 1rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: var(--backgroundColor);
  border-radius: 5px;
}
.footer div:nth-child(3) .imprint:first-child .close_imprint {
  width: 40px;
  height: auto;
  margin-left: auto;
  text-align: center;
  font-size: 2.5rem;
  color: var(--buttonColor);
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);
}
.footer div:nth-child(3) .imprint:first-child .close_imprint:hover {
  cursor: pointer;
  color: var(--buttonColorHover);
}
.footer div:nth-child(3) .imprint .imprint_content {
  padding: 0 1rem 1rem 1rem;
}/*# sourceMappingURL=footer.css.map */